{% extends 'base.html.twig' %}

    {% block body %}
    <h2>Events</h2>

    <ul>
    {% for event in events %}
        <li>
            {{ event.name }} - {{ event.date|date('Y-m-d H:i') }}
            <a href="{{ path('app_event_show', {id: event.id}) }}">View</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}